body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f07c;
    background-image: url('img/enset-bg.jpeg'), url('img/ocp-bg.png');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
}

.container {
    background: rgba(255, 255, 255, 0.703);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alert {
    position: fixed;
    top: 10px;
    right: 10px;
}
