/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html {
  height: 100%;
  margin: 0;
  overflow: scroll; 
}

main > .container {
  padding: 60px 15px 0;
}

.navbar {
  background-color: #c7e8b64f;
  margin: 10px;
  border-radius: 8px;
}

.navbar-toggler {
  border-color: black;
}

.navbar .navbar-brand {
  color: #52aa54;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 23px;
  margin-right: 100px;
}

.navbar .nav-link {
  color: #52aa54;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  justify-content: space-between;
  border-radius: 5px;
  transition: .5s;
}

.nav-item {
  margin-right: 20px;
}

.navbar .nav-link:hover, .active {
  background-color: #abffb860;
  border-radius: 5px;
}


a {
  text-decoration: none;
}

